<p>dashboard works!</p>
<div>
        <form>
                <div class="field">
                  <label>Add Task</label>
                  <input name = "textDescription" id="textDescription" #newText>
                </div>
              
        </form>   
        
        <button (click)="add(newText.value)">
                Submit Task:   
        </button>
        
        <div
              *ngFor="let todoitem of todoitems(); let i = index">
              {{todoitem.text}}
              <div>
                    <form>
                            <div>State:</div>
                              <div *ngFor= "let status of statusArray; let i = index">
                                <input type="radio" name="due + i" value="{{status}}" (change) = "radioChangeHandler($event)"> {{status}} <br>
                            </div>
                    </form>
                    <i>Task Status: {{statusVarHelper()}}</i>
                </div>

        </div>

</div>
